ul.posts {list-style-type: none;}

ul.posts span {
   color: #90909D;
   font-family: "Inconsolata", "Droid Sans Mono", "Courier New", monospace;
}

span.published_on {
   color: #90909D;
   font-family: "Inconsolata", "Droid Sans Mono", "Courier New", monospace;
}

.container {
   font-size: 110%;
   font-family: "Droid Sans", sans-serif;
   margin: 30px auto;
   width:650px;
}

.footer {
   margin-top: 30px;
   text-align: center;
   corol: #aaa;
}

.content {
   margin: 20px auto;
}

ul, ol {margin:10px; padding-left:10px}

.container .header a {
   text-decoration: none;
}

.header {
   margin-bottom: 30px;
   text-align: center;
   font-size: 120%;
   font-weight: bold;
}

.code {
   font-family: "Inconsolata", "Droid Sans Mono", "Courier New", monospace;
}
