---
layout: default
---
<h1><a href="{{ page.url }}" title="{{ page.title }}"> {{ page.title }} </a></h1>

{% if page.date != null %}
<span class="published_on">
   Published on {{ page.date | date: "%Y-%m-%d" }}
</span>
{% endif %}

{{ content }}

<!-- AddThis Button BEGIN -->
<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4b4538ca168cb3a4"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b4538ca168cb3a4"></script>
<!-- AddThis Button END -->

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/mikolajb/embed.js"></script><noscript><a href="http://disqus.com/forums/mikolajb/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>